<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v=2" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/basarili-home.css' %}?v=2" />

    <title>Giriş Yap</title>
  </head>
  <body>
    <div id="navbar-container"></div>

    <div id="main-container" class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
      <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4" data-i18n="42-login-head">42 Hesabınızla Giriş Yapın</h2>
        <a id="login_button" data-i18n="42-login" href="{% url 'login_with_42' %}" class="btn btn-primary btn-lg w-100">Giriş Yap</a>
      </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    </script>
  </body>
</html>

