

body{
     /*background: linear-gradient(to left, #ff7e5f, #feb47b);*/
     background-image: url('a.jpg'); 
     background-size: cover;
     background-attachment: fixed;
}

#HeaderHead-1{
    text-align: center;
    font-size: 50px;
    color: white;
}
#deneme2
{
    float:right;
    margin-right: 5%;
    margin-top: -25px;
}

.img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Boşlukları eşitler */
    align-items: center; /* Dikey hizalama */
    gap: 10px; /* Resimler arasındaki boşluk */
    padding: 10px; /* Dış boşluk */
    border: solid 1px #ff7e5f; /* Kenarlık */
    margin-top:10%;
}

.img-div a {
    flex: 1 1 calc(33.333% - 20px); /* Üç sütun düzeni ve boşluk hesaplama */
    display: block;
}

.img-div img {
    padding-left: 130px; /* Resimlerin iç boşluğu */
    width: 30%; /* Resimlerin kapsayıcı elemanı kadar genişlemesi */
    height: auto; /* Yüksekliği otomatik ayarlar */
    object-fit: cover; /* Resimlerin alanı kaplamasını sağlar */
    display: block; /* Alt boşluğu ortadan kaldırır */
    border: none; /* Kenarlıkları kaldırır */
    transition: opacity 0.3s ease; /* Hover efekti */
}

.img-div img:hover {
    opacity: 0.8; /* Hover efekti */
}


#Footer{
    background-color: #ff7e5f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#btn-giris-1{
    background-color: #ff7e5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}